<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{{ .Title }}</title>
<meta name="description" content="{{ .Site.Params.description }}" />
<meta name="language" content="{{ .Site.Params.locale }}" />

<meta name="keywords" content="{{ .Site.Params.keywords }}" />
<meta name="author" content="{{ .Site.Params.author }}" />

<link rel="canonical" href="{{ .Permalink }}" />

<!--
<meta property="og:image" content="" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ .Site.Params.description }}" />

<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ .Site.Title }}" />
-->

<!-- CSS -->
<link rel="stylesheet" href="{{ relURL "/css/styles.css" }}" />

<!-- ICON -->
<!--
<link rel="icon" type="image/x-icon" href="{{ relURL "myfavicon.ico" }}" /> 
-->

<!-- Modules -->
<script type="module" src="{{ relURL "js/pageSettup.js" }}"></script>
<script type="module" src="{{ relURL "js/envelopeHandler.js" }}"></script>
<script type="module" src="{{ relURL "js/pageNavigation.js" }}"></script>
