<nav id="envelope-nav">
  <ul>
    <a href="/" aria-label="Redirect to Home Page">
      <li>
        <div>Home</div>
      </li>
    </a>
    <a href="/about" aria-label="Redirect to About Page">
      <li>
        <div>About</div>
      </li>
    </a>
    <a href="/links" aria-label="Redirect to Links Page">
      <li>
        <div>Links</div>
      </li>
    </a>
    <a href="/work" aria-label="Redirect to Work Page">
      <li>
        <div>Work</div>
      </li>
    </a>
    <a href="/skills" aria-label="Redirect to Skills Page">
      <li>
        <div>Skills</div>
      </li>
    </a>
  </ul>
</nav>
