/*#region Tag Styles*/
body {
  overflow: hidden;
  isolation: isolate;

  width: 100vw;
  height: 100vh;
}

div {
  box-sizing: border-box;
}

path,
circle,
rect {
  vector-effect: non-scaling-stroke;
}

button {
  all: unset;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: 0.9rem;
}
h6 {
  font-size: 0.7rem;
}

* {
  margin: 0;
  padding: 0;

  transition: ease 0.3s;
}
/*#endregion*/

/*#region Helper Global Styles*/
.fixed-inset {
  position: fixed;
  inset: 0;
}

.page-dragging {
  transition: unset !important;
  transition-delay: unset !important;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.page-scrolling {
  transition-delay: unset !important;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scrollGradient {
  background:
    linear-gradient(#ffffff 33%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), #ffffff 66%) 0 100%,
    radial-gradient(
      farthest-side at 50% 0,
      rgba(153, 153, 153, 0.5),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(153, 153, 153, 0.5),
        rgba(0, 0, 0, 0)
      )
      0 100%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size:
    100% 21px,
    100% 21px,
    100% 7px,
    100% 7px;
}
/*#endregion*/

/*#region Envelope Wrapper*/
/* Background */
#envelope-bg {
  position: fixed;
  inset: 0;

  z-index: -1;
}
#envelope .svgs-container {
  pointer-events: none;
}

/*#region Envelope */
/*      Deactive */
#envelope {
  display: flex;

  position: absolute;
  top: max(50%, calc(100% - 50vh));
  left: 50%;

  width: min(50%, 15rem, 150vh);
  aspect-ratio: 2;

  border: solid black 2px;
  background-color: whitesmoke;
  filter: drop-shadow(1px 1px 2px hsl(0deg 0% 0% / 0.6));

  transform: translate(-50%, -50%);
}
#envelope:hover {
  filter: drop-shadow(16px 16px 16px hsl(0deg 0% 0% / 0.25));

  transform: translate(-50%, -50%) scale(1.1) rotate(3deg);
  will-change: filter, transform;
}
#envelope .envelope-top-flap {
  z-index: 0;

  transition:
    transform ease 0.5s,
    z-index step-end 0s 0.25s;

  transform-origin: top center;
  transform: rotateX(0deg);
}

/*      Active */
#envelope.active-envelope {
  width: min(80%, 80vh);

  filter: drop-shadow(20px 20px 20px hsl(0deg 0% 0% / 0.15));

  transform: translate(-50%, -10%);
  will-change: width, filter, transform;
}
#envelope.active-envelope * {
  touch-action: none;
}

#envelope.active-envelope .envelope-top-flap {
  z-index: -1;

  transition:
    transform ease 0.5s,
    z-index step-start 0s 0.25s;

  transform: rotateX(180deg);
  will-change: transform, index;
}
/*#endregion Envelope */

/*#region Page */
/*      Deactive */
.page-wrapper {
  position: absolute;
  bottom: 0;

  isolation: isolate;
  z-index: 0;

  clip-path: inset(-50vh -50vw 0 -50vw);

  width: 100%;
  height: 100%;

  opacity: 0;
}

.page {
  position: absolute;
  top: 0;
  left: 2%;
  right: 2%;
}
.page-content {
  position: relative;

  min-height: 50vh;

  overflow-x: clip;
  overflow-y: scroll;

  padding: 0.5rem;
  padding-bottom: 2rem;

  background-color: whitesmoke;
  border: solid black 2px;
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.3));

  scrollbar-width: none;
  -ms-overflow-style: none;
}
.page::-webkit-scrollbar {
  display: none;
}

/*      Active */
#envelope.active-envelope .page-wrapper {
  opacity: 1;
}
#envelope.active-envelope .page {
  transform: translate(0, var(--page-offset-y));
  transition-delay: 0.25s;

  will-change: transform;
}
/*#endregion Page */

/*#region Page Animations */
.page-is-entering {
  animation: page-enter-animation 0.7s forwards;
}
.page-is-exiting {
  animation: page-exit-animation 0.7s forwards;
}

@keyframes page-enter-animation {
  0% {
    z-index: -1;
    transform: rotate(0deg) translate(0%, -20vh) rotate(0deg);
  }
  49% {
    z-index: -1;
  }
  50% {
    z-index: 0;
    transform: rotate(2deg) translate(0%, calc(-100% - 20vh)) rotate(5deg);
  }
  100% {
    z-index: 0;
    transform: rotate(0deg) translate(0%, -20vh) rotate(0deg);
  }
}
@keyframes page-exit-animation {
  0% {
    z-index: 0;
  }
  49% {
    z-index: 0;
  }
  50% {
    z-index: -1;
  }
  100% {
    z-index: -1;
  }
}
/*#endregion*/

/*#region Envelope Nav */
#envelope-nav {
  z-index: -1;

  overflow-x: clip;
  overflow-y: visible;

  width: 100%;
  max-width: 100%;

  margin-top: auto;
}

#envelope-nav ul {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;

  align-items: center;

  width: 100%;

  margin-left: 0.5rem;
  margin-right: 0.5rem;

  gap: 0.2rem;
}

/*      Deactive */
#envelope-nav li {
  list-style: none;

  padding: 0.2rem;
  padding-top: 0.7rem;

  background-color: white;
  border: solid black 2px;

  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;

  transform: translate(0%, 0%);
}

/*      Active */
#envelope.active-envelope #envelope-nav li {
  transform: translate(0%, calc(100% - 0.5rem));
}
#envelope.active-envelope #envelope-nav li:hover {
  transform: translate(0%, 100%);
}

/*      Animation Delays */
#envelope #envelope-nav a:nth-child(1) li {
  transition-delay: 0.2s;
}
#envelope #envelope-nav a:nth-child(2) li {
  transition-delay: 0.15s;
}
#envelope #envelope-nav a:nth-child(3) li {
  transition-delay: 0.1s;
}
#envelope #envelope-nav a:nth-child(4) li {
  transition-delay: 0.05s;
}
#envelope #envelope-nav a:nth-child(5) li {
  transition-delay: 0s;
}

#envelope.active-envelope #envelope-nav a:nth-child(1) li {
  transition-delay: 0s;
}
#envelope.active-envelope #envelope-nav a:nth-child(2) li {
  transition-delay: 0.05s;
}
#envelope.active-envelope #envelope-nav a:nth-child(3) li {
  transition-delay: 0.1s;
}
#envelope.active-envelope #envelope-nav a:nth-child(4) li {
  transition-delay: 0.15s;
}
#envelope.active-envelope #envelope-nav a:nth-child(5) li {
  transition-delay: 0.2s;
}
/*#endregion*/
/*#endregion */

/*#region Page Content Styles*/
/* Global */
.page header {
  margin-bottom: 0.6rem;
}

.bottom-page-margin {
  margin-left: 24%;
  margin-right: 20%;
  margin-bottom: 0.8rem;

  padding-left: 0.2rem;
  padding-bottom: 0.4rem;

  border-left: black solid 4px;
}

/* Home */
/* OctoCat code here: https://github.com/tholman/github-corners/issues/15 */
#envelope .github-corner {
  display: none;
}
#envelope.active-envelope .github-corner {
  display: unset;
}

.github-corner svg {
  position: absolute;
  top: -1;
  right: -1;

  width: 15%;
  aspect-ratio: 1;

  fill: #000;
  color: #fff;
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.page header.home-header {
  margin-right: 15%;
  margin-bottom: 3rem;
}
.home-intro {
  text-align: center;
}

.home-links {
  display: flex;
  flex-direction: row;

  width: 100%;

  margin-top: 1rem;
  margin-bottom: 1rem;

  gap: min(3rem, 10%);

  text-align: center;

  a {
    display: inline-block;
    pointer-events: auto;
  }

  a:first-child {
    margin-left: auto;
  }
  a:last-child {
    margin-right: auto;
  }
}
/* About */

/* Links */

/* Skills */

/* Works */

/*#endregion*/
