<head>
  {{ partial "/metadata.html" . }}
</head>

<body>
  <div id="bg" aria-hidden="true"></div>
  <div id="envelope-wrapper" class="movable-wrapper">
    <div id="envelope" class="movable-origin-offset grab-hover">
      <div class="page-wrapper">
        <main class="page movable-wrapper">
          {{ block "main" . }}
          {{ end }}
        </main>
      </div>
      {{ partial "/envelope/envelopeSvgs" }}
      {{ partial "/envelope/envelopeNav" }}
    </div>
  </div>

  {{ partial "./objs/pencil" }}

  <div id="transition-cover"></div>
</body>
