<div id="envelope">
  <main>{{ templates.Inner . }}</main>

  <!-- Front Body -->
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
    class="fixed-inset"
  >
    <path
      d="M0,100 0,0 L50,60, L100,0, L100,100 Z"
      fill="white"
      stroke="black"
      stroke-width="2"
      vector-effect="non-scaling-stroke"
    />
  </svg>

  <!-- Bottom Flap -->
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
    class="fixed-inset"
  >
    <path
      d="M0,100 L50,50 L100,100 Z"
      fill="white"
      stroke="black"
      stroke-width="2"
      vector-effect="non-scaling-stroke"
      class="click-fill-overlay"
    />
  </svg>

  <!-- Top Flap -->
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
    class="fixed-inset envelope-top-flap"
  >
    <path
      d="M0,0 L50,60 L100,0 Z"
      fill="white"
      stroke="black"
      stroke-width="2"
      vector-effect="non-scaling-stroke"
    />
  </svg>
</div>
